@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Industrial Gothic";
  src: url("../fonts/Industrial_Gothic_Single_Std Regular.otf");
  font-weight: normal;
}
@font-face {
  font-family: "Bodoni";
  src: url("../fonts/FontsFree-Net-Bodoni-SvtyTwo-ITC-TT-Book.ttf");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

.main {
  font-size: 125%;
  color: #48484a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(254, 238, 226);
  font-family: "Josefin Sans", sans-serif;
}
.main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
  margin: 3.2rem auto 0 auto;
  max-width: 1380px;
  width: 75%;
  position: relative;
}
.main .bobby {
  position: absolute;
  bottom: -16px;
  left: 1%;
  width: 19%;
}
.main .puffin {
  position: absolute;
  bottom: -14px;
  right: -2%;
  width: 16%;
}
.main .frigate {
  position: absolute;
  top: -1px;
  right: 23%;
  width: 17%;
}

.topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 32vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}
.topContainer .birdIllustration {
  position: absolute;
  display: none;
  width: 20rem;
  right: 10%;
  top: -1%;
  z-index: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  z-index: 20;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}
.header .titleContainer h1 {
  text-transform: uppercase;
  color: #ec6e4c;
  font-size: 6.3rem;
  margin: 0 0.1rem 0 0;
  font-family: "Bodoni";
  font-weight: normal;
  width: 100%;
}
.header .titleContainer h1 span {
  display: block;
  font-size: 1.7rem;
  color: rgb(72, 72, 74);
  margin-left: 3px;
  line-height: 0.9rem;
}
.header .titleContainer h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin-top: 2rem;
  padding-left: 1rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  border-left: solid 1px rgba(72, 72, 74, 0.3);
}

.birdhouseContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  margin-top: auto;
}

.birdCard {
  position: relative;
  gap: 0.7rem 1rem;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-animation: opacity 1s ease-in;
          animation: opacity 1s ease-in;
  width: 20%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  color: rgba(72, 72, 74, 0);
  font-size: 0;
  border-radius: 10px;
}
.birdCard :hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  opacity: 0.9;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.birdImage {
  width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 7px 7.5px rgba(77, 137, 174, 0.2);
          box-shadow: 7px 7.5px rgba(77, 137, 174, 0.2);
}

.birdTitle {
  position: absolute;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  width: 100%;
  opacity: 1;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(72, 72, 74);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  bottom: -2rem;
  height: 1rem;
}

.subTitle {
  font-size: inherit;
  border-bottom-right-radius: 10px;
  position: absolute;
  width: 100%;
  background-color: inherit;
  opacity: inherit;
  bottom: 0;
  right: 0;
  color: inherit;
  padding: 0.5rem 0.5rem 0.65rem 0.65rem;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.subTitle:hover {
  opacity: 1;
}
.subTitle .birdLocation {
  font-size: inherit;
  opacity: 1;
  text-align: right;
  text-align: left;
}
.subTitle .birdLocation .pin {
  display: inline-block;
  width: 1.5rem;
  background-color: inherit;
  fill: #ffffff;
}
.subTitle .birdSci {
  font-size: inherit;
  font-style: italic;
  margin-top: 0.3rem;
}

.position {
  opacity: 1;
  font-size: 0.88rem;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  width: 25%;
  background-color: rgba(254, 238, 226, 0.7);
  color: rgb(72, 72, 74);
}

.weatherContainer {
  width: 50%;
  height: 100%;
  z-index: 10;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.weatherContainer .weatherContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  color: #48484a;
  text-align: center;
  background-color: rgba(77, 137, 174, 0.4);
  padding: 2.2rem 2rem 2.2rem 2.1rem;
  border-radius: 150px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.weatherContainer .weatherContent .winds {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.weatherContainer .weatherContent .winds .windSpeed {
  font-size: 0.85rem;
  margin-top: 0.4rem;
}
.weatherContainer .weatherContent .winds .windDirection {
  position: relative;
}
.weatherContainer .weatherContent .winds .windDirection img {
  width: 1rem;
  position: absolute;
  left: -1.1rem;
  bottom: -11px;
}
.weatherContainer .weatherContent .weatherIcon {
  position: relative;
  height: 3rem;
  width: 3rem;
  -ms-flex-item-align: end;
      align-self: end;
}
.weatherContainer .weatherContent .weatherIcon img {
  position: absolute;
  left: -2rem;
  top: -2.3rem;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  height: 2.6rem;
  gap: 0.5rem;
}
.form input[type=text] {
  background-color: rgba(77, 137, 174, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "Josefin Sans";
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  width: 10rem;
  border: none;
  padding: 0.8rem 1rem 0.5rem 3.9rem;
  position: relative;
  -webkit-box-shadow: 2px 2px rgba(72, 72, 74, 0.2);
          box-shadow: 2px 2px rgba(72, 72, 74, 0.2);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.form input[type=text]:hover, .form input[type=text]:focus {
  background-color: rgba(77, 137, 174, 0.6);
  width: 15rem;
}
.form span {
  position: relative;
}
.form span .searchIcon {
  width: 1.65rem;
  position: absolute;
  left: 14px;
  top: -3px;
  z-index: 1;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.form p {
  font-size: 0.85rem;
}
.form .submit {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  padding: 0.8rem 1.2rem 0.5rem 1.2rem;
  font-weight: 500;
  color: 77, 137, 174, 0.4;
  text-transform: uppercase;
  font-family: inherit;
  color: inherit;
  font-size: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px rgba(72, 72, 74, 0.2);
          box-shadow: 1px 2px rgba(72, 72, 74, 0.2);
}
.form .submit:hover, .form .submit:focus {
  opacity: 0.7;
}

.footer {
  border-top: solid 1px rgba(72, 72, 74, 0.3);
  white-space: nowrap;
  -ms-flex-item-align: center;
      align-self: center;
  position: fixed;
  width: 25%;
  min-width: 200px;
  bottom: 0;
  z-index: 100;
}
.footer p {
  text-align: center;
  font-size: 0.6rem;
  padding: 0.5rem;
  margin: 0;
}

a {
  font-weight: 500;
  color: inherit;
}
a:visited {
  color: inherit;
}

@media (max-width: 1100px) {
  .main {
    overflow-y: visible;
    height: auto;
  }
  .main .puffin {
    bottom: -32px;
  }
  .main .bobby {
    bottom: -32px;
  }

  .birdhouseContainer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    gap: 3rem 1rem;
    padding-top: 2rem;
    margin-bottom: 4rem;
  }

  .birdCard {
    width: calc(33.3333333333% - 1.5rem);
    margin-bottom: 1.2rem;
  }

  .footer {
    position: static;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .birdTitle {
    font-size: 0.92rem;
  }

  .position {
    width: 30%;
    font-size: 0.92rem;
  }

  .topContainer {
    height: auto;
    gap: 2rem;
  }

  .header .titleContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .header .titleContainer h1 {
    font-size: 9rem;
  }
  .header .titleContainer h4 {
    border-left: none;
    padding-left: 0;
    border-top: solid 1px rgba(72, 72, 74, 0.3);
    padding-top: 1rem;
    margin: 0;
  }
}
@media (max-width: 670px) {
  .main {
    overflow-y: visible;
  }
  .main .wrapper {
    width: 85%;
  }

  .topContainer {
    height: 100%;
    gap: 0;
  }
  .topContainer .birdIllustration {
    top: 58px;
    width: 15rem;
  }

  .birdhouseContainer {
    scroll-behavior: touch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    margin-bottom: 3rem;
    gap: 4rem;
  }

  .birdCard {
    width: 100%;
  }

  .form {
    margin-bottom: 3rem;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .form label {
    width: 100%;
  }
  .form input[type=text] {
    width: 100%;
  }

  .subTitle {
    padding: 2rem;
  }
  .subTitle .birdLocation .pin {
    width: 2.4rem;
  }

  .birdTitle {
    font-size: 1.5rem;
  }

  .position {
    font-size: 1.5rem;
    width: 90%;
  }
}
@media (max-width: 570px) {
  .main .topContainer h1 {
    font-size: 6rem;
  }
}
@media (max-width: 480px) {
  .header .titleContainer h1 {
    font-size: 1.8rem;
  }
  .header .titleContainer h1 span {
    font-size: 1rem;
  }
}