* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 125%;
    color: #48484a;
    transition: all 0.5s ease-in-out;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(254, 238, 226);
    font-family: 'Josefin Sans',
    sans-serif;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        margin: 3.2rem auto 0 auto;
        max-width: 1380px;
        width: 75%;
        position: relative;

    }
    // .cormarant {
    //     position: absolute;
    //     bottom: -17%;
    //     right: -5%;
    //     width: 19%;
    // }

    .bobby {
        position: absolute;
        bottom: -16px;
        left: 1%;
        width: 19%;
    }

    .puffin {
        position: absolute;
        bottom: -14px;
        right: -2%;
        width: 16%;
    }
    .frigate {
        position: absolute;
        top: -1px;
        right: 23%;
        width: 17%;
    }
}



.topContainer {
    display: flex;
    justify-content: space-evenly;
    height: 32vh;
    // align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    .birdIllustration {
        position: absolute;
        display: none;
        width: 20rem;
        right: 10%;
        top: -1%;
        z-index: 0;
    }
}

