* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 125%;
    color: #48484a;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fef9f5;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        margin: 1.5rem auto;
        max-width: 1380px;
        width: 85%;
        position: relative;
    }
}



.topContainer {
    display: flex;
    // justify-content: space-between;
    height: 35vh;
    // align-items: center;
    flex-direction: column;
    width: 100%;

    .birdIllustration {
        position: absolute;
        width: 240px;
        left: 600px;
        top: 60px;
        z-index: 0;
    }
}

