// Footer

.footer {
    border-top: solid 1px rgb(72, 72, 74, 0.3);
    white-space: nowrap;
    align-self: center;
    position: fixed;
    width: 25%;
    min-width: 200px;
    bottom: 0;
    // text-align: center;
    z-index: 100;

    p {
        text-align: center;
        font-size: 0.6rem;
        padding: 0.5rem;
        margin: 0;
    }

}

a {
    font-weight: 500;
    color: inherit;

    &:visited {
        color: inherit;
    }
}