.weatherContainer {
    margin: 0;
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    color: black;
    text-align: right;
    // margin-top: 1rem;

    .winds {
        display: flex;
        align-items: center;
        justify-content: center;

        .windSpeed {
            font-size: 0.85rem;
            margin-top: 0.4rem;

        }
        .windDirection {
            position: relative;
            img {
                width: 1rem;
                position: absolute;
                left: -1.1rem;
                bottom: -11px;
            }
        }
    }

    .weatherIcon {
        position: relative;
        height: 3rem;
        width: 3rem;
        align-self: end;

        img {
            position: absolute;
            left: -1.5rem;
            top: -2.3rem;
        }
    }
}

