.form {
  width: 100%;
  display: flex;
  z-index: 20;
  order: 1;
  height: 3rem;
  

  input[type="text"] {
    background-color: rgb(77, 137, 174, 0.4);
    transition: all 0.2s ease-in-out;
    font-family: 'Josefin Sans';
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    width: 10rem;
    border: none;
    padding: 0.8rem 1rem 0.5rem 3.9rem;
    position: relative;
    border-bottom: 1px solid rgb(72, 72, 74, 0.3);

    order: 1;
    &:hover, 
    &:focus {
      background-color: rgb(77, 137, 174, 0.6);
      width: 15rem;
    }
  }

  span {
    position: relative;

    .searchIcon {
      width: 1.65rem;
      position: absolute;
      left: 14px;
      top: -3px;
      z-index: 1;
      filter: invert(100%)
    }
  }

  p {
    font-size: 0.85rem;
  }
  .submit {
    cursor: pointer;
    border: none;
    padding: 0.6rem 1rem;
    color: inherit;
    font-family: inherit;
    color: inherit;
    font-size: 0.9rem;
    border-top-right-radius: 10px;
    &:hover,
    &:focus {
        opacity: 0.8;
    }
  }
}
