@media (max-width:1100px) {
    .main {
        overflow-y: visible;
    }
    
    .birdhouseContainer {
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
    }
    
    .birdCard {
        width: calc((100% / 3) - 1rem);
        margin-bottom: 1.2rem;
    }
    
    .footer {
        position: static;
        margin-top: 1rem;
        padding-bottom: 0.5rem;
    }
    .birdTitle {
        font-size: 0.92rem;
    }
    .position {
        width: 30%;
        font-size: 0.92rem;
    }
}


@media (max-width: 880px) {

   
}


@media (max-width: 670px) {

    .main {
        overflow-y: visible;
        .wrapper {
            width: 85%;

        }
    }

    .topContainer {
        height: 100%;
        margin-bottom: 3rem;
        .birdIllustration {
            top: 58px;
            width: 15rem;
        }
    }

    .birdhouseContainer {
        // overflow-x: auto;
        // scroll-snap-type: x mandatory;
        scroll-behavior: touch;
        flex-wrap: wrap;
        height: 100%;
        margin-bottom: 3rem;
        gap: 4rem;
    }

    .birdCard {
        width: 100%;
    }


    .form {
        margin-bottom: 3rem;
        order: 0;

        label {
            width: 100%;
        }
        input[type="text"] {
            width: 100%;
            
        }
    }

    .subTitle {
        padding: 2rem;
        .birdLocation {
            .pin {
                width: 2.4rem;
            }
        }
    }

    .birdTitle {
        font-size:1.5rem;
    }

    .position {
        font-size: 1.5rem;
        width: 90%;
    }
    
}

@media (max-width: 570px) {
    .main {
        .topContainer {
            .birdIllustration {
                width: 10rem;
                top: 130px;
            }
        }
    }
    
}

@media (max-width: 480px) {
    
    .header {
        .titleContainer {
            h1 {
                font-size: 1.8rem;
            }
        }
    }

    .main {
        .topContainer {
            .birdIllustration {
                // width: 90px;
                // top: 80px;
            }
        }
    }

    .form {
        
        input[type="text"] {
            font-size: 0.8rem;
        }
    }
    

    .weatherContainer {
        padding-top: 3rem;
    }
}