// Typography styles

// import Industrial Gothic Single Std Regular font

@font-face {
  font-family: "Industrial Gothic";
  src: url("../fonts/Industrial_Gothic_Single_Std Regular.otf");
    
  font-weight: normal;
}

